// These colors are specific to the theme. Do not use in a package!

@saturate: 15%;
@lighten: 0%;
@darken: 6%;

@background: darken(#1d1f21, @darken);
@current-line: darken(#282a2e, @darken);
@selection: darken(#373b41, @darken);
@foreground: lighten(#c5c8c6, @lighten);
@comment: lighten(#969896, @lighten);
@red: saturate(#cc6666, @saturate);
@orange: saturate(#de935f, @saturate);
@yellow: saturate(#f0c674, 7%);
@green: saturate(#b5bd68, @saturate);
@aqua: saturate(#8abeb7, @saturate);
@blue: saturate(#81a2be, @saturate);
@purple: saturate(#b294bb, @saturate);
