.go {
  &.variable {
    color: @syntax-text-color;
  }

  &.string {
    color: @yellow;
  }

  .keyword {
    color: @red;

    &.control {
      color: @purple;
    }

    &.operator {
      color: @syntax-text-color;
    }

    &.other.special-method {
      color: @blue;
    }

    &.other.unit {
      color: @orange;
    }
  }

  &.support {
    &.function  {
      color: @blue;

      &.decl {
          color: @green;
      }

      &.built-in {
        font-style: italic;
      }
    }
  }
}
